<h1>ForgotPassword  Verify Email Page</h1>
<h2>Thank you for verifying email !</h2>
<h2>New Password</h2>
<form action="/Home/ResetPassword" method="post">
    <input type="text" name="resetPassword" value="" />
    <input type="password" name="confirmPassword" value="" />
    <button type="submit">Reset Password</button>
</form>